* {
  margin: 0px;
  padding: 0px;
}
html {
  scroll-behavior: smooth;
}

/* utility class */
.h-primary {
  font-family: "Bree Serif";
  font-size: 3rem;
  margin-top: 60px;
  padding: 8px 0px;
  animation-name: heading;
  animation-duration: 1.5s;
  animation-iteration-count: infinite;
}
@keyframes heading {
  from {
    width: 60%;
  }
  to {
    width: 100%;
  }
}

.h-secondary {
  font-family: "Bree Serif";
  font-size: 2.5rem;
  padding: 10px 0px;
}
.center {
  text-align: center;
}

/* navbar-section */
/* #navbar {
  display: flex;
  position: fixed;
  top: 0px;
  align-items: center;
  margin-top: 0px;
  width: 100%;
} */
/* #logo {
  margin: 0px 15px;
  margin-left: 2%;
}
#logo img {
  height: 60px;
  width: 60px;
  border-radius: 50px;
} */
/* #navbar ul {
  display: flex;
  margin-left: 5%;
  justify-content: space-around;
} */
/* 
#navbar ul li {
  margin: 5px 6px;
  padding: 2px 10px;
  font-weight: bold;
  list-style: none;
  display: block;
  width: 130px;
} */
/* #navbar li a {
  display: block;
  text-decoration: none;
  color: honeydew;
  font-size: 20px;
} */

/* #navbar::before {
  content: "";
  background-color: rgb(15, 15, 15);
  position: absolute;
  top: 0px;
  z-index: -1;
  height: 60px;
  width: 100%;
  opacity: 0.5;
} */
#navbar li a:hover {
  background-color: white;
  color: black;
  /* padding: 7px 14px 9px 14px; */
  border-radius: 100px;
}
#navbar li a:active {
  color: rgb(126, 118, 104);
}
#navbar {
  position: fixed;
}
nav {
  position: sticky;
  z-index: 10;
  left: 0;
  right: 0;
  top: 0;
  height: 80px;
  padding: 0.5px;
  /* background-color: blue; */
}
#navbar::before {
  content: "";
  background-color: rgb(15, 15, 15);
  position: absolute;
  top: 0;
  z-index: -1;
  height: 80px;
  width: 100%;
  opacity: 0.5;
}

nav #logo {
  float: left;
  display: flex;
}
#logo img {
  margin-left: 30px;
  height: 80px;
  width: 80px;
  border-radius: 50px;
}
nav .links {
  /* float: right; */
  right: 60px;
  padding: 0;
  margin: 0;
  width: 80%;
  display: flex;
  height: 80px;
  /* justify-content: space-around; */
  align-items: center;
}
nav .links li {
  margin: 5px 6px;
  padding: 2px 10px;
  list-style: none;
  text-align: center;
  justify-content: center;
}
nav .links a {
  justify-content: center;
  text-align: center;
  display: block;
  text-decoration: none;
  display: block;
  padding: 12px 1em;
  color: white;
  font-size: 20px;
  width: 100px;
}
#nav-toggle {
  position: absolute;
  top: -100px;
}
nav .icon-burger {
  display: none;
  position: absolute;
  right: 5%;
  top: 25%;
  transform: translate(-50%);
}
nav .icon-burger .line {
  width: 30px;
  height: 5px;
  background-color: white;
  margin: 5px;
  border-radius: 3px;
  transition: all 0.3s ease-in-out;
}

/* home-section */
#home {
  display: flex;
  padding: 30px 0px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
  margin-bottom: 60px;
  height: 300px;
}
#head{
  width: 100%;
}
.slider {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 430px;
  animation: animate 16s ease-out infinite;
  background-size: cover;
}

@keyframes animate {
  0%,
  100% {
    background-image: url("../logo/kitchen1.jpg");
    width: 100%;
    opacity: 0.9;
  }
  25% {
    background-image: url("../logo/food_back.png");
    opacity: 0.9;
  }
  50% {
    background-image: url("../logo/hotel_kitchen1.jpg");
    opacity: 0.9;
  }
  75% {
    background-image: url("../logo/indian-food.webp");
    opacity: 0.9;
  }
}
#home p {
  padding: 5px;
  font-size: 1.5rem;
  text-align: center;
  color: black;
}
#home h1 {
  color: white;
  font-weight: 600;
  font-size: 35px;
  text-align: center;
}
.btn {
  width: 125px;
  height: 45px;
  font-size: 20px;
  border-radius: 40px;
  background-color: wheat;
  cursor: pointer;
}
.btn:hover {
  color: black;
  background-color: white;
}
.btn:active {
  color: rgb(163, 77, 45);
  /* background-color: white;*/
}

/* Services section */
#services {
  display: flex;
  margin: 5px 10px;
  margin-bottom: 78px;
}
.box img {
  margin: 1px 0px;
  height: 96px;
  width: 122px;
  border-radius: 10px;
}
#services-container {
  margin: 438px 20px;
  margin-bottom: 60px;
}

#services .box {
  border: 2px solid black;
  border-radius: 30px;
  width: 30%;
  height: 300px;
  display: block;
  margin: auto;
  background-color: rgb(247, 243, 187);
  color: darkslateblue;
}
#services .box p {
  color: black;
  margin: 0px 5px;
}

/* clients section */
#client-section {
  margin: 0px 20px;
  margin-bottom: 60px;
  display: flex;
  /* position: relative; */
  flex-direction: column;
  margin-bottom: 68px;
  /* margin-left: 8%; */
}
#client-section::before {
  content: "";
  position: absolute;
  background: url("../logo/backlogo.jpg") no-repeat center center/cover;
  width: 88%;
  height: 350px;
  z-index: -1;
  border-radius: 35px;
  opacity: 0.5;
  margin-left: 4%;
}
#client-section #clients {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 40px;
  height: 200px;
  width: 90%;
  margin: 0px 40px;
  margin-top: 25px;
  margin-bottom: 30px;
}
#client-section .clients-items {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0px 40px;
}
#client-section #clients img {
  height: 100px;
  width: 100px;
  border-radius: 16px;
}
#clt{
  margin-top: 30px;
  width: 100%;
}
/* #client-section #clt {
  margin-top: 0px;
  margin-left: 20px;
  padding: 20px 0px;
  font-size: 3rem;
  animation-name: heading-client;
  animation-duration: 1.5s;
  animation-iteration-count: infinite;
} */
/* @keyframes heading-client {
  from {
    width: 58%;
  }
  to {
    width: 21%;
  }
} */
/* contact-section */
#contact-section::before {
  content: "";
  position: absolute;
  background: url("../logo/backlogo.jpg") no-repeat center center/cover;
  width: 88%;
  height: 355px;
  z-index: -1;
  border-radius: 35px;
  opacity: 0.5;
  margin-left:5%;
}
.form-group {
  margin-bottom: 9px;
}
label {
  margin-right: 20px;
}

#msg{
  margin-left: 10%;
  border-radius: 10px;
}
#send {
  /* margin-left: 55%; */
  width: 80px;
  height: 28px;
}

/* footer*/
footer {
  margin-top: 100px;
  font-weight: bold;
  background-color: rgb(27, 25, 25);
  color: white;
  height: 30px;
}




@media (max-width: 660px) {
  @keyframes heading {
    from {
      width: 100%;
    }
    to {
      width: 100%;
    }
  }
  
  label {
    margin-right: 0px;
  }
  #navbar::before {
    height: 50px;
  }
  nav #logo {
    float: none;
    width: 250px;
    justify-content: center;
  }
  #logo img {
    margin-right: 60%;
    height: 50px;
    width: 50px;
  }
  nav .links {
    float: none;
    position: fixed;
    z-index: 9;
    left: 50%;
    right: 0;
    top: 60px;
    bottom: 77%;
    width: 50%;
    height: auto;
    margin-bottom: 280px;
    flex-direction: column;
    justify-content: space-evenly;
    background-color: black;
    opacity: 0.4;
    overflow: hidden;
    /* box-sizing: border-box; */
    transition: all 0.5s ease-in-out;
  }
  nav .links a {
    font-size: 23px;
    width: 110px;
    height: 48px;
  }
  nav :checked ~ .links {
    bottom: 0;
  }
  nav .icon-burger {
    display: block;
  }
  /* label {
    margin-right: 30px;
    position: fixed;
  } */

  #client-section{
    margin: 0px 0px;
  }
  #contact-section #msg{
    margin-left: 5px;
    width: 250px;
    height: 100px;
    border-radius: 10px;
  }
  #send{
    width: 70;
  }
  #client-section::before{
    margin-left: 20px;
  }
  #contact-section {
    margin-left: 0px;
    height: 300px;
    margin-bottom: 31px;
    /* box-sizing: border-box; */
  }
  #contact-section::before{
    content: "";
    position: absolute;
    background: url('../logo/backlogo.jpg') no-repeat center center/cover;
    width: 92%;
    height: 320px;
    z-index: -1;
    border-radius: 35px;
    opacity: 0.5;
    margin-left: 4%;
  }
}

/* nav :checked ~ .icon-burger .line:nth-child(1){
        transform: translate(10px) rotate(225deg);
    }
    nav :checked ~ .icon-burger .line:nth-child(2){
        transform: translate(-10px) rotate(-225deg);
    }
    nav :checked ~ .icon-burger .line:nth-child(3){
        opacity: 0;
    } */
